@import '../config/variables.css.scss';

.footer {
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 80px;
  padding: 0px 50px;
  background: $light_grey;
  left: 0;
  bottom: 0;
  width: auto;
  font-family: $main_font;
  margin-top: auto;
  color: rgba(0,0,0,0.3);
}

@media (max-width: 800px) {
  .footer{
    justify-content: center;
  }
}