<!-- BANNER -->
<div class="banner">
  <div class="item1">
    <a href="/about" class="stretched-link">
      <h2>Jérémy<br>BRD</h2>
    </a>
  </div>
  <div class="item2">
    <a href="#mywork" class="stretched-link">
      <h2>Full Stack<br>Developper</h2>
    </a>
  </div>
  <div class="item3">
    <h3> Travaillons ensemble</h3>
    <span>
      <b>~</b>
      <a href="mailto:jeremybarbedienne@gmail.com"
      class="link" data-ga-action="click" data-ga-category="Contact links"
      data-ga-label="Footer CTA - Email" class="mail-link">jeremybarbedienne@gmail.com</a>
      <b>~</b>
    </span>
  </div>
  <div class="itemphone1">
  </div>
  <div class="itemphone2">
    <h2>Jérémy<br>BRD</h2>
  </div>
  <div class="itemphone3">
    <h3>Full Stack Developper</h3>
  </div>
</div>
