---
layout: layout
title: Jérémy BRD
path: about
---
<!-- ABOUT -->
<div class="about-container">
  <div class="presentation-card">
    <img class="about-avatar" src="https://res.cloudinary.com/dhgfifwgd/image/upload/v1593794411/photosourircarre%CC%81e_kvyyky.png" alt="">
    <div class="text-about">
      <h2>Jérémy Barbedienne</h2>
      <p><%= data.jeremy.description %></p>
    </div>
  </div>
  <div class="about-link">
    <a href="https://github.com/JeremyBRD" target="_blank"><i class="fab fa-github"></i>
    </a>
    <a href="https://twitter.com/JBarbedienne" target="_blank"><i class="fab fa-twitter"></i>
    </a>
    <a href="https://www.linkedin.com/in/jeremy-barbedienne/" target="_blank"><i
      class="fab fa-linkedin"></i>
    </a>
  </div>
</div>
