---
layout: layout
title: Jérémy BRD | Brain to switch
---
<!-- SHOW PAGE PROJECTS -->
<div class="show-container">
  <div class="banner-show">
    <img src="https://res.cloudinary.com/dhgfifwgd/image/upload/v1595417630/brain-to-switch_a0zxeu.jpg" alt="">
    <div class="info-show-banner">
      <h3 class="info-show-banner-title">Brain to Switch</h3>
      <p class="info-show-banner-description">Clone de Air BnB | Application Rails |</p>
    </div>
    <div class="banner-show-technical-infos">
      <div class="techno">
        <h4>Technologie : </h4>
        <img id="picto" src="https://res.cloudinary.com/dhgfifwgd/image/upload/v1593520437/rails_uoqayc.png" alt="">
      </div>
      <div class="lang">
        <h4>Langages utilisés : </h4>
        <img id="picto" src="https://res.cloudinary.com/dhgfifwgd/image/upload/v1593520436/jspng_pbpzvj.png" alt="">
        <img id="picto" src="https://res.cloudinary.com/dhgfifwgd/image/upload/v1593520436/html-5_xu3cwc.svg" alt="">
        <img id="picto" src="https://res.cloudinary.com/dhgfifwgd/image/upload/v1593520436/css_n7xs1s.png" alt="">
        <img id="picto" src="https://res.cloudinary.com/dhgfifwgd/image/upload/v1593520437/ruby_zzv4lw.svg" alt="">
      </div>
    </div>
  </div>
  <div class="double-thick">
  </div>
  <div class="project-info-section">
    <p class="project-info-section-full-description">
    J'ai réalisé ce site lors de mon bootcamp au Wagon avec 3 autres personnes, le but était de créer un "clone" de Air BnB en une semaine.
    Sur ce projet j'ai collaboré avec l'équipe de travail via Trello et github.
    </p>
    <div class="project-show-card">
      <div class="project-show-card-left">
        <!-- CARD-TITLE -->
        <h4><b>Informations Techniques :</b></h4>
        <!-- CARD-INFO -->
        <h5>Technologie utilisée :</h5><p> Rails</p><br>
        <h5>Backend :</h5><p> Ruby, Postgresql</p><br>
        <h5>Frontend :</h5><p> HTML, CSS, Saas, JS</p><br>
        <h5>Date de création du projet :</h5><p> 18 mai 2020</p><br>
        <h5>Date de livraison du projet :</h5><p> 22 mai 2020</p><br>
        <h5>Déploiement :</h5><p> Heroku</p><br>
      </div>
      <img src="https://res.cloudinary.com/dhgfifwgd/image/upload/v1595416143/brain-to-switch-capture_ht5x3e.png" alt="">
    </div>
    <div class="button-to-project-site">
      <a href="https://brains-to-switch-elise584.herokuapp.com/" target="_blank" rel="noopener">
        Visiter ce site<sup>*</sup>
      </a>
    </div>
    <br><p><sup>*</sup> Temps de chargement ~ 30sec > version gratuite de Heroku</p>
  </div>
</div>


<%= partial 'partials/footer' %>
