---
layout: layout
title: Jérémy BRD | De fil en aiguille
---
<!-- SHOW PAGE PROJECTS -->
<div class="show-container">
  <div class="banner-show">
    <img src="https://res.cloudinary.com/dhgfifwgd/image/upload/v1595417647/de-fil-en-aiguille_wrlhwb.jpg" alt="">
    <div class="info-show-banner">
      <h3 class="info-show-banner-title">De Fil en Aiguille</h3>
      <p class="info-show-banner-description">Projet de fin d'études | Application Rails |</p>
    </div>
    <div class="banner-show-technical-infos">
      <div class="techno">
        <h4>Technologie : </h4>
        <img id="picto" src="https://res.cloudinary.com/dhgfifwgd/image/upload/v1593520437/rails_uoqayc.png" alt="">
      </div>
      <div class="lang">
        <h4>Langages utilisés : </h4>
        <img id="picto" src="https://res.cloudinary.com/dhgfifwgd/image/upload/v1593520436/jspng_pbpzvj.png" alt="">
        <img id="picto" src="https://res.cloudinary.com/dhgfifwgd/image/upload/v1593520436/html-5_xu3cwc.svg" alt="">
        <img id="picto" src="https://res.cloudinary.com/dhgfifwgd/image/upload/v1593520436/css_n7xs1s.png" alt="">
        <img id="picto" src="https://res.cloudinary.com/dhgfifwgd/image/upload/v1593520437/ruby_zzv4lw.svg" alt="">
      </div>
    </div>
  </div>
  <div class="double-thick">
  </div>
  <div class="project-info-section">
    <p class="project-info-section-full-description">
    "De Fil en aiguille" est le fruit de deux semaines de travail réalisé en équipe avec 3 autres presonnes. Ce projet qui, au lendemain de la crise
    du covid-19, est indispensable pour beaucoup, le but sera de mettre en relation des couturiers qui font des masques avec des professionnels
    en ayant besoin.
    Sur ce projet j'ai collaboré avec l'équipe de travail via Trello et github.
    </p>
    <div class="project-show-card">
      <div class="project-show-card-left">
        <!-- CARD-TITLE -->
        <h4><b>Informations Techniques :</b></h4>
        <!-- CARD-INFO -->
        <h5>Technologie utilisée :</h5><p> Rails</p><br>
        <h5>Backend :</h5><p> Ruby, Postgresql</p><br>
        <h5>Frontend :</h5><p> HTML, CSS, Saas, JS</p><br>
        <h5>Date de création du projet :</h5><p> 25 mai 2020</p><br>
        <h5>Date de livraison du projet :</h5><p> 05 juin 2020</p><br>
        <h5>Déploiement :</h5><p> Heroku</p><br>
      </div>
      <img src="https://res.cloudinary.com/dhgfifwgd/image/upload/v1595417068/de-fil-en-aiguille-capture_zwsign.png" alt="">
    </div>
    <div class="button-to-project-site">
      <a href="https://www.de-fil-en-aiguille.eu/" target="_blank" rel="noopener">
        Visiter ce site
      </a>
    </div>
  </div>
</div>


<%= partial 'partials/footer' %>
