---
layout: layout
title: Jérémy BRD | La Beauté autrement
---
<!-- SHOW PAGE PROJECTS -->
<div class="show-container">
  <div class="banner-show">
    <img src="https://res.cloudinary.com/dhgfifwgd/image/upload/v1596535521/lbav_g2jfo1.png" alt="">
    <div class="info-show-banner">
      <h3 class="info-show-banner-title">La Beauté Autrement</h3>
      <p class="info-show-banner-description">Site vitrine</p>
    </div>
    <div class="banner-show-technical-infos">
      <div class="techno">
        <h4>Technologie : </h4>
        <img id="picto" src="https://res.cloudinary.com/dhgfifwgd/image/upload/v1593520437/rails_uoqayc.png" alt="">
      </div>
      <div class="lang">
        <h4>Langages utilisés : </h4>
        <img id="picto" src="https://res.cloudinary.com/dhgfifwgd/image/upload/v1593520436/jspng_pbpzvj.png" alt="">
        <img id="picto" src="https://res.cloudinary.com/dhgfifwgd/image/upload/v1593520436/html-5_xu3cwc.svg" alt="">
        <img id="picto" src="https://res.cloudinary.com/dhgfifwgd/image/upload/v1593520436/css_n7xs1s.png" alt="">
        <img id="picto" src="https://res.cloudinary.com/dhgfifwgd/image/upload/v1593520437/ruby_zzv4lw.svg" alt="">
      </div>
    </div>
  </div>
  <div class="double-thick">
  </div>
  <div class="project-info-section">
    <p class="project-info-section-full-description">
    "La beauté autrement" est un site vitrine réalisé pour un institut de beauté, j'ai choisi d'utiliser Rails pour ce projet,
    car on m'a évoqué la possibilité de faire évoluer le site en mettant en place les reservations et l'achat de
    produits (click & collect) directement depuis le site (implémentation d'une API). J’ai créé l’identitée visuelle
    du site en suivant les envies et les valeures de ma cliente.
    </p>
    <div class="project-show-card">
      <div class="project-show-card-left">
        <!-- CARD-TITLE -->
        <h4><b>Informations Techniques :</b></h4>
        <!-- CARD-INFO -->
        <h5>Technologie utilisée :</h5><p> Rails</p><br>
        <h5>Backend :</h5><p> Ruby, Postgresql</p><br>
        <h5>Frontend :</h5><p> HTML, CSS, Saas, JS</p><br>
        <h5>Date de création du projet :</h5><p> 20 juillet 2020</p><br>
        <h5>Date de livraison du projet :</h5><p> 12 aout 2020</p><br>
        <h5>Déploiement :</h5><p> Heroku</p><br>
      </div>
      <img src="https://res.cloudinary.com/dhgfifwgd/image/upload/v1599578892/la_beaute_autrement_oewhwb.png" alt="">
    </div>
    <div class="button-to-project-site">
      <a href="https://www.labeauteautrement.fr/" target="_blank" rel="noopener">
        Visiter ce site
      </a>
    </div>
  </div>
</div>


<%= partial 'partials/footer' %>
