---
layout: layout
title: Jérémy BRD | pacman
---
<!-- SHOW PAGE PROJECTS -->
<div class="show-container">
  <div class="banner-show">
    <img src="https://res.cloudinary.com/dhgfifwgd/image/upload/v1604264041/pacman-cover_zggfyx.png" alt="">
    <div class="info-show-banner">
      <h3 class="info-show-banner-title">Pacman</h3>
      <p class="info-show-banner-description">CHallance personel | JS ES6, HTML, CSS |</p>
    </div>
    <div class="banner-show-technical-infos" style="justify-content: center;">
      <div class="lang">
        <h4>Langages utilisés : </h4>
        <img id="picto" src="https://res.cloudinary.com/dhgfifwgd/image/upload/v1593520436/jspng_pbpzvj.png" alt="">
        <img id="picto" src="https://res.cloudinary.com/dhgfifwgd/image/upload/v1593520436/html-5_xu3cwc.svg" alt="">
        <img id="picto" src="https://res.cloudinary.com/dhgfifwgd/image/upload/v1593520436/css_n7xs1s.png" alt="">
      </div>
    </div>
  </div>
  <div class="double-thick">
  </div>
  <div class="project-info-section">
    <p class="project-info-section-full-description">
      J'ai réalisé ce projet dans l'optique de m'entrainer et progresser en JavaScript.
    </p>
    <div class="project-show-card">
      <div class="project-show-card-left">
        <!-- CARD-TITLE -->
        <h4><b>Informations Techniques :</b></h4>
        <!-- CARD-INFO -->
        <h5>Backend :</h5><p> JS </p><br>
        <h5>Frontend :</h5><p> HTML, CSS, JS</p><br>
        <h5>Date de création du projet :</h5><p> 22 octobre 2020</p><br>
        <h5>Date de livraison du projet :</h5><p> 25 octobre 2020</p><br>
        <h5>Déploiement :</h5><p> Netlify</p><br>
      </div>
      <img src="https://res.cloudinary.com/dhgfifwgd/image/upload/v1603638772/pacman_cad2rg.png" alt="">
    </div>
    <div class="button-to-project-site">
      <a href="https://admiring-boyd-44650f.netlify.app/" target="_blank" rel="noopener">
        Visiter ce site
      </a>
    </div>
  </div>
</div>


<%= partial 'partials/footer' %>
