---
layout: layout
title: Jérémy BRD | room
---
<!-- SHOW PAGE PROJECTS -->
<div class="show-container">
  <div class="banner-show">
    <img src="https://res.cloudinary.com/dhgfifwgd/image/upload/v1601475544/roomhomepage_xktj5i.png" alt="">
    <div class="info-show-banner">
      <h3 class="info-show-banner-title">Room</h3>
      <p class="info-show-banner-description">Prototype pour Site vitrine | JS, HTML, CSS |</p>
    </div>
    <div class="banner-show-technical-infos" style="justify-content: center;">
      <div class="lang">
        <h4>Langages utilisés : </h4>
        <img id="picto" src="https://res.cloudinary.com/dhgfifwgd/image/upload/v1593520436/jspng_pbpzvj.png" alt="">
        <img id="picto" src="https://res.cloudinary.com/dhgfifwgd/image/upload/v1593520436/html-5_xu3cwc.svg" alt="">
        <img id="picto" src="https://res.cloudinary.com/dhgfifwgd/image/upload/v1593520436/css_n7xs1s.png" alt="">
      </div>
    </div>
  </div>
  <div class="double-thick">
  </div>
  <div class="project-info-section">
    <p class="project-info-section-full-description">
      J’ai réalisé ce site dans l’optique de m’exercer avec VanillaJS, j’ai pu créer un menu overlay en mode mobile, 
      un élément responsive en mettant à jour la valeur de celui-ci grace a une fonction JS et le carousel qui s’arrête 
      quand le pointeur est dessus, j’ai créer des clones du premier et dernier élément dans le DOM afin de donner une 
      impression de carousel infini.
    </p>
    <div class="project-show-card">
      <div class="project-show-card-left">
        <!-- CARD-TITLE -->
        <h4><b>Informations Techniques :</b></h4>
        <!-- CARD-INFO -->
        <h5>Backend :</h5><p> JS </p><br>
        <h5>Frontend :</h5><p> HTML, CSS, JS</p><br>
        <h5>Date de création du projet :</h5><p> 25 septembre 2020</p><br>
        <h5>Date de livraison du projet :</h5><p> 27 septembre 2020</p><br>
        <h5>Déploiement :</h5><p> Netlify</p><br>
      </div>
      <img src="https://res.cloudinary.com/dhgfifwgd/image/upload/v1601475544/roomhomepage_xktj5i.png" alt="">
    </div>
    <div class="button-to-project-site">
      <a href="https://competent-elion-e81f08.netlify.app/" target="tab">
        Visiter ce site
      </a>
    </div>
  </div>
</div>


<%= partial 'partials/footer' %>
