---
layout: layout
title: Débuter sur VS Code
---

<div style="padding: 70px;
    background-color: rgb(23, 43, 55);
    color: white;">
  <p>Mis à jour le <em>17 octobre 2020</em></p>
  <h2>Salut à toi jeune codeur/se</h2>
  <p>Si t'es ici c'est parce que tu veux passer sur VS code mais t'as la flème de chercher les extensions et config pour avoir un setup correct</p>
  <p>T'es au bon endroit 🚀</p>
  <p>La commande <kbd>stt</kbd> est trop cool sur Sublime, elle existe aussi sur VSCode en faisant <kbd>code .</kbd> Attention à ne pas oublier le <kbd>.</kbd> qui veut dire ouvre le dossier depuis cette position</p>
  <p>Tu as aussi accès à un terminal direct dans ton éditeur de code avec la commande <kbd>ctrl +  `</kbd></p>
  <p>
  Déjà quand tu télécharge VS le premier truc un peut chiant, c'est que les tabulations sont égales  4 espaces ... 
  Rien ne l'oblige, mais si tu es maniaque comme moi, tu vas vouloir changer ça et avoir une tab égale à 2 espaces :
  </p>
  <p>code > preferences > stettings là tu arrives au panneau de configurations, tu peux aussi y acceder avec <kbd>cmd + ,</kbd></p>
  <p>tu tapes "tab" dans la barre de recherche et là tu as 2 choses à faire :</p>
  <p>
  1) Décocher "Editor : Detect Indentation"cette fonction n'est pas hyper pertinante c'est mieux d'avoir le controle de
   ce que tu fais, ce serait dommage d'avoir des erreurs d'indentations qui ne dépendent pas de toi ...
  </p>
  <p>
  2) Il faut changer la valeur dans la section "Editor: Tab Size" à 2.
  </p>
  <h2>Liste des extensions à installer :</h2>
  <p>Regarde a quoi elle servent et comment les utiliser avant de les installer 👀</p>
  <% data.extensions.extension.each do |p| %>
  <ul>
    <li><%= link_to  p.site, p.site, target: "_blank" %></li>
  </ul>
  <% end %>
  <p>
  Pour activer l'extension des abréviations Emet avec la touche Tab : Code > Preferences > Settings > 
  Taper Emet dans la barre de recherche, puis selectionner l'extension Emet, 
  cocher la case en dessous de "Emmet: Trigger Expansion On Tab"
  </p>
  <p>
  Il y a aussi un problème qui va vite t'embêter c'est que Tabnine (qui est vraiment indispensable selon moi) 
  prendra la touche Tab pour selectionner sa proposition, du coup cela empêche totalement le fonctionnememnt de Emet.
  </p>
  <p>
  Allez dans code > Preferences > Keyboard Shortcuts , Une fois là dans la barre de recherche taper "acceptSelectedSuggestion"
  ici vous trouverez une option ayant ce nom avec le racourci clavier <kbd>Tab</kbd>, changez le avec celui de votre choix. ex <kbd>ctrl + return</kbd>
  </p>
  <p>Normalement à ce stade vous avez un setup correct pour démarer sur VS code</p>
</div>
